
/* Imports */
/***********************************************************************************/
@import url("reset_v2.css");


/***** Global *****/
/* Body */
/***********************************************************************************/
body {
  margin: 0;
  padding: 0 0 1em 0;
  font-size: 1.429em;
  line-height: 1.5em;
  color: #414142;
  font-family: Arial;
  background-color: #ededed;
}

/* Headings */
/***********************************************************************************/
/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;

}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Anchors */
/***********************************************************************************/
p {
  margin: 1em 0;
}

p code, li code {
  background-color: #ECECEC;
}


a:link {
  color: #D64078;
  text-decoration: none;
}

a:visited {
  color: #D64078;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: black;
  color: white;
}

/* Structure */
/***********************************************************************************/
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
#header {
	height: 100px;
}

#content {
	background: #fff;
	margin-bottom: 2em;

	width: 600px;
	float: left;

}
#sidebar {
	width: 300px;
	float: right;
}
#footer {
	clear: both;
}


/* Mediea Queries */
/***********************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
	#sidebar {
		display: none;
	}

}

/* border & guideline (you can ignore these) */
/* For testing */
/***********************************************************************************/
#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
#header, #content, #sidebar {
	margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar, #footer {
	border: solid 1px #ccc;
}